body {
  /* background-image: linear-gradient(to right, #202A35, #202A35); */
  font-family: Roboto;
  font-size: 15px;
}
.login-page {
  text-align: center;
  margin: 7em auto;
  background-color: white;
  border-radius: 2%;
}

.login-title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.text-field .input-text {
  width: 92%;
  height: 2.4em;
  margin-bottom: 1.5em;
  border-radius: 2%;
  border: solid 1px #d3d9df;
  font-size: 95%;
  outline-color: #0eb1e9;
}

.text-field label {
  float: left;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.button-login button {
  width: 91%;
  margin: 1em 0 2em;
  background-color: #4cb24f;
  border: solid 1px #4cb24f;
}

@media screen and (min-width: 500px) {
    .login-page {
      width: 80%;
    }
  
    .text-field .input-text {
      width: 92%;
    }
  
    .button-login button {
      width: 91%;
    }
  }

@media screen and (min-width: 600px) {
  .login-page {
    width: 400px;
  }

  .text-field .input-text {
    width: 92%;
  }

  .button-login button {
    width: 91%;
  }
}
